<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBDNS Portal</title>
    <style>
        #meet {
            justify-content: center;
            align-content: center;
            margin-left: 180px;
            border: 2px solid black;
            height: 90vh;
            width: 80vw;

        }
    </style>
</head>

<body>
    <h1> Welcome to CBDNS!</h1>
    <div id="meet"></div>
    <canvas id="canvas" style="overflow:auto"></canvas>
    <script src='https://meet.jit.si/external_api.js'></script>
    <!-- <script src="/js/main.js"></script> -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>